/* Base styles */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Custom styles */

.container-fluid {
  padding: 0 40px;
}

.center-parent {
  display: table;
  width: 100%;
}

.center-child {
  float: none;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.btn-primary {
  white-space: normal !important;
  transition: all 0.5s;
  background-color: transparent;
  border: 2px solid #5e3548 !important;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #5e3548;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #5e3548;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(../img/bg_fade.jpg) no-repeat top center;
  line-height: 1.2;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  color: #1c487c;
  font-size: 13px;
  padding: 32px 0;
  text-align: center;
}

header .logo {
  display: inline-block;
  max-width: 320px;
  padding-bottom: 25px;
}

header .blue-outline {
  border: 4px solid #1c487c;
}

header .blue-outline .center-child {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 5px solid #1c487c;
}

header .blue-outline .center-child:first-child {
  border-left: none;
}

.welcome .welcome-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 10px;
  margin: 25px 0;
}

.welcome .welcome-content h2 {
  color: #1c487c;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
}

.welcome .welcome-content p {
  color: #333333;
  font-size: 12px;
}

#listing-override .ln-widgetBox {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
}

#listing-override .ln-widgetBox>h2 {
  margin: 0 35px;
  display: inline-block;
  width: auto;
  color: #f8f9fd;
  background-color: #5e3548;
  font: 15px 'Montserrat', sans-serif;
  border: none;
  padding: 8px 17px;
  text-transform: uppercase;
}

#listing-override .ln-widgetBox>h4,
#listing-override .ln-widgetBox .getWidget,
#listing-override .ln-widgetBox .ln-widgetContent tr.last {
  display: none;
}

#listing-override .ln-widgetBox .ln-widgetContent {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 35px;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col1,
#listing-override .ln-widgetBox .ln-widgetContent tr .col2,
#listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
  width: 100%;
  display: block;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a {
  font-size: 31px;
  font-weight: 600;
  color: #1c487c;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a:hover,
#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a:focus,
#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a:active {
  text-decoration: none;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .address {
  font-size: 20.5px;
  line-height: 2;
  font-weight: 600;
  color: #5e3548;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 p {
  color: #333333;
  font-size: 15.5px;
  line-height: 1.2;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col3 .stats {
  background-color: #f26750;
  padding: 35px 15px;
  color: #ffffff;
  font-weight: 300;
  font-size: 15.5px;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col3 .stats em {
  font-weight: 300;
}

#listing-override .ln-widgetContent td {
  border-bottom: none;
  padding: 40px 0 0 0;
}

#listing-override .ln-widgetContent td>a>img {
  width: 100%;
}

/* Footer */

.footer {
  background-color: #ffffff;
  color: #1c487c;
  font-size: 13px;
  padding: 15px 0;
}

.footer .footer-container .center-child {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
}

.footer .footer-container .copywrite {
  color: #333333;
  font-size: 11.5px;
  line-height: 1.3;
}

.footer .footer-container .logo {
  max-width: 400px;
  padding: 0 30px;
  margin: 0 auto;
  display: inline-block;
}

@media only screen and (min-width: 500px) {
  #listing-override .ln-widgetBox .ln-widgetContent tr .col2,
  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
    float: left;
    display: block;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col2 {
    width: 75%;
    padding-right: 25px;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
    width: 25%;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 .stats {
    max-width: 130px;
    min-height: 130px;
    float: right;
  }
}

@media only screen and (min-width: 768px) {

  .center-parent {
    display: table;
    width: 100%;
  }

  .center-child {
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  header {
    text-align: left;
  }

  header .logo {
    padding: 2px 0 0 0;
  }

  header .blue-outline {
    width: 98%;
    height: 105px;
  }

  header .blue-outline .center-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  .welcome {
    float: right;
  }

  .welcome .welcome-content {
    text-align: left;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  #listing-override .ln-widgetContent td {
    border-bottom: 3px solid #1c487c;
    padding: 40px 40px 40px 0;
  }

  #listing-override .ln-widgetContent td:last-child {
    padding: 40px 0;
  }

  #listing-override .ln-widgetBox {
    padding-top: 220px;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col1,
  #listing-override .ln-widgetBox .ln-widgetContent tr .col2,
  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
    display: table-cell;
    float: none;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col1 {
    width: 33%;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col2 {
    width: 52%;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
    width: 15%;
  }

  .footer {
    padding: 0;
    height: 172px;
  }

  .footer .footer-container .center-child {
    display: table-cell;
    text-align: left;
    height: 59px;
    border-right: 3px solid #1c487c;
    padding: 0 25px;
  }

  .footer .footer-container .center-child.text-center {
    text-align: center;
  }

  .footer .footer-container .center-child.copywrite {
    border: none;
  }

  .footer .footer-container .logo {
    padding: 0;
    max-width: 202px;
  }
}