// Base styles
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

// Custom styles
.container-fluid {
  padding: 0 25px;
}

.center-parent {
  display: table;
  width: 100%;
}

.center-child {
  float: none;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.btn-primary {
  white-space: normal !important;
  transition: all 0.5s;
  background-color: transparent;
  border: 2px solid #5e3548;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #5e3548;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border: 2px solid #5e3548;
  background-color: #5e3548;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(../img/bg_fade.jpg) no-repeat top center;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  color: #1c487c;
  font-size: 13px;
  line-height: 1.2;
  padding: 32px 0;
  text-align: center;
}

header .logo {
  display: inline-block;
  max-width: 320px;
  padding: 5px 0 25px 0;
}

header .blue-outline {
  border: 4px solid #1c487c;
}

header .blue-outline .center-child {
  border-right: 5px solid #1c487c;
}

header .blue-outline .center-child:last-child {
  border-right: none;
}

#listing-override .ln-widgetBox {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  padding-top: 220px;
}

#listing-override .ln-widgetBox>h2 {
  margin-left: 35px;
  display: inline-block;
  width: auto;
  color: #f8f9fd;
  background-color: #5e3548;
  font: 15px 'Montserrat', sans-serif;
  border: none;
  padding: 8px 17px;
  text-transform: uppercase;
}

#listing-override .ln-widgetBox>h4,
#listing-override .ln-widgetBox .getWidget,
#listing-override .ln-widgetBox .ln-widgetContent tr.last {
  display: none;
}

#listing-override .ln-widgetBox .ln-widgetContent {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 35px;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col1,
#listing-override .ln-widgetBox .ln-widgetContent tr .col2,
#listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
  width: 100%;
  display: block;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 {
  line-height: 1.2;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a {
  font-size: 31px;
  font-weight: 600;
  color: #1c487c;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a:hover,
#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a:focus,
#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .name a:active {
  text-decoration: none;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 .address {
  font-size: 20.5px;
  line-height: 2;
  font-weight: 600;
  color: #5e3548;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col2 p {
  color: #333333;
  font-size: 15.5px;
  line-height: 1.2;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col3 .stats {
  max-width: 130px;
  min-height: 130px;
  float: right;
  background-color: #f26750;
  padding: 35px 15px;
  color: #ffffff;
  font-weight: 300;
  font-size: 15.5px;
}

#listing-override .ln-widgetBox .ln-widgetContent tr .col3 .stats em {
  font-weight: 300;
}

#listing-override .ln-widgetContent td {
  border-bottom: none;
  padding: 40px 40px 40px 0;
}

#listing-override .ln-widgetContent td:last-child {
  padding: 40px 0;
}

#listing-override .ln-widgetContent td>a>img {
  width: 100%;
}

// Footer
.footer {
  background-color: #ffffff;
  color: #1c487c;
  font-size: 13px;
  line-height: 1.2;
  padding: 15px 0;
}

.footer .footer-container .center-child {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
}

.footer .footer-container .copywrite {
  color: #333333;
  font-size: 11.5px;
  line-height: 1.3;
}

.footer .footer-container .logo {
  max-width: 400px;
  padding: 0 30px;
  margin: 0 auto;
  display: inline-block;
}

@media only screen and (min-width: 768px) {

  .center-parent {
    display: table;
    width: 100%;
  }

  .center-child {
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  header {
    text-align: left;
  }

  header .logo {
    padding: 2px 0 0 25px;
  }

  header .blue-outline {
    width: 98%;
    height: 105px;
  }

  #listing-override .ln-widgetContent td {
    border-bottom: 3px solid #1c487c;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col1,
  #listing-override .ln-widgetBox .ln-widgetContent tr .col2,
  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
    display: table-cell;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col1 {
    width: 33%;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col2 {
    width: 52%;
  }

  #listing-override .ln-widgetBox .ln-widgetContent tr .col3 {
    width: 15%;
  }

  .footer {
    padding: 0;
    height: 172px;
  }

  .footer .footer-container .center-child {
    display: table-cell;
    text-align: left;
    height: 59px;
    border-right: 3px solid #1c487c;
    padding: 0 25px;
  }

  .footer .footer-container .center-child.text-center {
    text-align: center;
  }

  .footer .footer-container .center-child.copywrite {
    border: none;
  }

  .footer .footer-container .logo {
    padding: 0;
    max-width: 202px;
  }
}

// Helper classes
.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}